.calc-container
  display: block
  box-sizing: border-box
  padding-bottom: 15px
  padding-top: 15px
  margin-top: 15px
  margin-bottom: 15px
  border:
    bottom: 2px dotted rgba(0,0,0,.05)
    top: 2px dotted rgba(0,0,0,.05)
h4
  margin: 0 0 10px 0
.hidden
  display: none
.fields-container
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 60%
  height: 280px
  margin: 0 auto
.calculate-button
  width: 38%
.buttons
  display: flex
  justify-content: space-between
  width: 100%
@media (max-width: 500px)
  .fields-container
    width: 90%
  .calculate-button
    width: 45%
//animatiomn
.slide-enter
  opacity: 0
  transform: scale(0.5)

.slide-enter-active
  opacity: 1
  transform: translateX(0)
  transition: all 300ms

.slide-exit
  opacity: 1

.slide-exit-active
  opacity: 0
  transform: scale(0.8)
  transition: all 1000ms

